{{!-- { userInfo, skills, workExperience, degrees, courses, goals, socialNetworks } --}}
<div class="container">
	<div class="row">
		<!--Personal Information-->
		{{>personalInformation}}
		<!--Resume-->
		<div class="col-md-9">
			<div class="m-md-4">
				<h4 class="name">{{userInfo.title}}</h4>
				<h5 class="profession">{{userInfo.name}} {{userInfo.lastName}}</h5>
			</div>
			<hr>
			<div class="card">
				<div class="card-header">
					<h5 class="m-0 font-weight-bold text-primary">Habilidades</h5>
				</div>
				<div class="card-body d-flex flex-wrap align-items-baseline" id="skills">
					{{>skills}}
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5 class="m-0 font-weight-bold text-primary">Experiencia Laboral</h5>
				</div>
				<div class="card-body">
					<ul class="list-group">
						{{>workExpertise}}
					</ul>					
				</div>
			</div>			
			<div class="card">
				<div class="card-header">
					<h5 class="m-0 font-weight-bold text-primary">Educación</h5>
				</div>
				<div class="card-body">
					{{>degrees}}
				</div>
			</div>								
			<div class="card">
				<div class="card-header">
					<h5 class="m-0 font-weight-bold text-primary">Capacitación constante en línea</h5>
				</div>
				<div class="card-body">
					<ul class="list-group">
						{{>courses}}						
					</ul>
				</div>
			</div>
		</div>
		<!--PDF-->		
		<div class="col-md-12 mb-5 text-center">
			<button type="button" class="btn btn-primary" id="downloadPDF" data-id="{{userInfo._id}}"><span
					class="glyphicon glyphicon-cloud-download"></span>Descargar CV como PDF</button>
		</div>
	</div>
</div>