<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="text-center">
					<img src="/public/img/68890464_460126921500413_2780631162370420158_n.jpg" alt="Perfil CV" width="200" height="200" class="rounded-circle m-2">
				</div>
				<!--About me-->
				<div class="card-header mt-5">
	                  <h6 class="m-0 font-weight-bold text-primary">Perfil</h6>
				</div>
				<div class="card-body text-justify small-text">
					<p id="goals"></p>
				</div>
				<div class="card-header">
	                  <h6 class="m-0 font-weight-bold text-primary">Contacto</h6>
				</div>
				<div class="card-body  small-text">
					<p id="conctact_to_me">
						Teléfono: 9984848661 <br>
						Correo electrónico: <br> julio.rodriguez.soberano@outlook.com <br>
						LinkedIn: <br>						
						<strong><em><a target="_blank" href="https://www.linkedin.com/in/julio-melquiades-rodriguez-soberano-9097b6145/">julio-melquiades-rodriguez-soberano-9097b6145</a></em></strong>
					</p>
				</div>				
			</div>

			<!--Resume-->
			<div class="col-sm-9">	
				<div class="m-5">
					<h1 class="m-5 name">Julio Melquiades Rodríguez Soberano</h1>							
					<h2 class="profession">Programador web y analista de sistemas</h2>
				</div>				
				<hr>								
				<div class="card-header">
	                  <h5 class="m-0 font-weight-bold text-primary">Experiencia Laboral</h5>
				</div>
				<div class="card-body">
					<strong>Programador Analista, Consolidé</strong>									
					<br>
					<strong><em>Descripción</em></strong>
					<blockquote>
						<p>
							Mantenimiento, desarrollo y testeo de herramientas web y software de escritorio. 
							Analisis y resolución de requerimientos y tiquets de servicio a usuarios. 
							Colaboración de soporte técnico. Diseño de iconos e interfaces de usuario. 
							Desarrollo de herramientas de generación de reportes en vb, consultas sql, diseño de front … 
							Nuestro equipo trabaja principalmente sobre un sitio en línea que proporciona distintas herramientas al equipo de implants de nómina, 
							servicios de rrhh como hojas de ruta, contratos, hojas de reconocimiento de antigüedad en formato Word y reportes a equipo de Contaduría en Excel, 
							pre facturas, recibos de nómina, reportes de información de empleados, reporte de registro de entradas y salidas, 
							herramientas a equipo de Capacitación como control de asistencia, relación de formatos con información de la STPS, 
							registro y calificación, Herramientas de KPI’s para registros de movimientos de personal y presupuestación a nuestros clientes…	
						</p>
						<footer>
							[Febrero 2017]–[Septiembre 2020]
						</footer>
					</blockquote>
					<hr>
					<strong>Programador Analista, Somos Render</strong>
					<br>
					<strong><em>Descripción</em></strong>
					<blockquote>
						<p>
							Ganancia sobre trabajo o Desarrollo (freelance)
							Adaptación, creación y mantenimiento en diversos proyectos como CRM para transportadoras y adaptación de sitios web.
						</p>
						<footer>[2016]–[2017]</footer>
					</blockquote>
					<hr>
 					<strong>Tester, Analista de Software, Viajes BEDA S.A. de C.V.</strong>
 					<br>
 					<strong><em>Descripción</em></strong>
 					<blockquote>
 						<p>
 							Colaboración directa con el análisis de documentación y revisión de software para 
 							la herramienta interna que vincula interfaces de proveedores internacionales de servicios de 
 							hotelería y turismo, para la manipulación, creación, cancelación y seguimiento de reservaciones 
 							de diversos servicios (cuartos de hotel, tours, boletos de avión, autobuses, traslados, 
 							entre otros servicios internos). Colaboración directa con el análisis de la documentación 
 							y comunicación con product owner y desarrollador para la implementación de nuevas interfaces. 
 							Colaboración directa en la revisión, seguimiento y cierre de incidencias (problemas en línea y locales, 
 							casos de error) reportadas por la mesa de servicios de la empresa. 
 							Aseguramiento de la calidad de software dentro del ciclo de vida de espiral evolutiva del software para el desarrollo de este. 
 							Capacitación a nuevos ingresos y colaboración con personal out sourcing. 
 							Capacitación interna para el desempeño de mis labores profesionales. (<strong><em><a target="_blank" href="https://www.bestday.com">https://www.bestday.com</a></em></strong>). 
 						</p>
 						<footer>[2015]–[2016]</footer>
 					</blockquote>
 					<hr>
 					<strong>Desarrollador Web, Somos Render</strong>
					<strong><em>Descripción</em></strong>
					<blockquote>
						<p>
							Ganancia sobre trabajo o Desarrollo (freelance).
							Colaboración con adaptación y mantenimiento en proyectos diversos (<strong><em><a target="_blank" href="http://www.somosrender.com">http://www.somosrender.com</a></em></strong>).
						</p>
						<footer>[2014]–[2015]</footer>
					</blockquote>
					<hr>
					<strong>Desarrollador Web, iniciativa propia</strong>
					<strong><em>Descripción</em></strong>
					<blockquote>
						<p>
							Desarrollo freelance. Diseño, desarrollo e implementación de sistemas y sitios web. 
							Colaboración indirecta con el mantenimiento del sitio de la empresa NexusTours (<strong><em><a target="_blank" href="http://www.nexustours.com">http://www.nexustours.com</a></em></strong>), 
							Maritur DMC (<strong><em><a target="_blank" href="http://www.maritur.com">http://www.maritur.com</a></em></strong>), 
							adaptación de diseño de blog empresarial: (<strong><em><a target="_blank" href="http://www.maritur.com/blog/en">http://www.maritur.com/blog/en</a></em></strong>)
							Creación de sitio de salón de eventos local (<strong><em><a target="_blank" href="http://specialmomentscancun.com">http://specialmomentscancun.com</a></em></strong>)
							y sistema de inventarios interno para la misma empresa.
						</p>
						<footer>[2014]</footer>
					</blockquote>
					<hr>
					<strong>Soporte técnico, iniciativa propia</strong>
					<strong><em>Descripción</em></strong>
					<blockquote>
						<p>
							Mantenimiento y reparación de computadoras. Instalación y configuración de sistemas.
						</p>
						<footer>[2010]–[2013]</footer>
					</blockquote>
				</div>

				<div class="card-header">
	                  <h5 class="m-0 font-weight-bold text-primary">Habilidades Adquiridas</h5>
				</div>
				<div class="card-body" id="skills">
					
					<label for="skill_html_css">HTML Y CSS</label>
					<div class="progress progress-sm mr-2" id="skill_html_css">
						<div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div> 
					<label for="skill_sql_mysql">SQL, MYSQL</label> 
					<div class="progress progress-sm mr-2" id="skill_sql_mysql">
						<div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_javascript">JavaScript</label> 
					<div class="progress progress-sm mr-2" id="skill_javascript">
						<div class="progress-bar bg-info" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_jquery">JQuery</label> 
					<div class="progress progress-sm mr-2" id="skill_jquery">
						<div class="progress-bar bg-info" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
		 
					<label for="skill_seo">Posicionamiento Orgánico (Search Engine Optimization)</label> 
					<div class="progress progress-sm mr-2" id="skill_seo">
						<div class="progress-bar bg-info" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_php">PHP</label> 
					<div class="progress progress-sm mr-2" id="skill_php">
						<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_cplus">C#</label> 
					<div class="progress progress-sm mr-2" id="skill_cplus">
						<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_vbnet">VB.NET</label> 
					<div class="progress progress-sm mr-2" id="skill_vbnet">
						<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_bootstrap">Bootstrap</label> 
					<div class="progress progress-sm mr-2" id="skill_bootstrap">
						<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_poo">Programación Orientada Objetos</label> 
					<div class="progress progress-sm mr-2" id="skill_poo">
						<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_eng_texts">Comprensión y redacción de textos en inglés técnico</label> 
					<div class="progress progress-sm mr-2" id="skill_eng_texts">
						<div class="progress-bar bg-info" role="progressbar" style="width: 78%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_ps">Photoshop</label> 
					<div class="progress progress-sm mr-2" id="skill_ps">
						<div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_ai">Ilustrator</label> 
					<div class="progress progress-sm mr-2" id="skill_ai">
						<div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_rest_api">Servicios REST y API</label> 
					<div class="progress progress-sm mr-2" id="skill_rest_api">
						<div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_nodejs">NodeJS</label>
					<div class="progress progress-sm mr-2" id="skill_nodejs">
						<div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_mongodb">MongoDB</label>
					<div class="progress progress-sm mr-2" id="skill_mongodb">
						<div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_express">Express</label>
					<div class="progress progress-sm mr-2" id="skill_express">
						<div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_version_control">Control de versiones por medio de Git / Team Fundation</label> 
					<div class="progress progress-sm mr-2" id="skill_version_control">
						<div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<label for="skill_docker">Docker</label>
					<div class="progress progress-sm mr-2" id="skill_docker">
						<div class="progress-bar bg-info" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					
					<label for="skill_eng_conv">Inglés conversacional básico</label> 
					<div class="progress progress-sm mr-2" id="skill_eng_conv">
						<div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

				</div>
				<div class="card-header">
	                  <h5 class="m-0 font-weight-bold text-primary">Educación</h5>
				</div>
				<div class="card-body">
					<strong><a target="_blank" href="https://www.cancun.tecnm.mx/" class="text-dark">Tecnológico Nacional Méxicano Campus Cancún</a></strong>
					<blockquote>
						<p>
							Licenciatura en ingeniería en sistemas computacionales.
						</p>
						<footer>2010 - 2016</footer>
					</blockquote>
					<hr>
					<strong>Capacitación constante en línea</strong>					
					<blockquote>
						<p>
							<ul class="list-group">
								<li class="list-group-item">
									SQL, JavaScript, HTML, CSS, Bootstrap, Introducción a Docker y Kubernetes, Inglés...: <strong><em><a target="_blank" href="https://www.udemy.com/">Udemy</a></em></strong>		
								</li>
								<li class="list-group-item">
									Programación con C#, Git profesional, Maquetado Web Responsivo: <strong><em><a target="_blank" href="https://platzi.com/">Platzi</a></em></strong>
								</li>
								<li class="list-group-item">
									Introducción a Docker y Microservicios, SCRUM: <strong><em><a target="_blank" href="https://www.pluralsight.com/">Pluralsight</a></em></strong>
								</li>
								<li class="list-group-item">
									Manejo de Adobe Ilustrator: <strong><em><a target="_blank" href="https://www.crehana.com/">Crehana</a></em></strong>
								</li>
								<li class="list-group-item">
									JavaScript, Manejo de DOM: <strong><em><a target="_blank" href="https://www.sitepoint.com/">SitePoint</a></em></strong>, Dev.to, Medium.com, codigofacilito.com...
								</li>
								<li class="list-group-item">
									Google, Stackoverflow y YouTube el mayor maestro y amigo de cualquier persona que desea aprender...
								</li>
							</ul>																																					
						</p>
						<footer>...</footer>
					</blockquote>
				</div>
			</div>		
			<!--PDF-->
			<div class="col-sm-12 mb-5 text-center">
				<button type="button" class="btn btn-primary" id="download_pdf"><span class="glyphicon glyphicon-cloud-download"></span>Descargar CV como PDF</button>
			</div>

		</div>
	</div>