{{#if courses}}
    {{#each courses}}
        <li class="list-group-item">
            <strong><em><a target="_blank" href="{{courseInsitutionURL}}">{{courseInstitution}}</a></em></strong>
            <p class="font-italic">{{courseDescription}}</p>
        </li>
    {{/each}}
{{/if}}
