{{#if degrees}}
    {{#each degrees}}
        <strong>{{institutionName}}</strong><br>
        <p class="font-italic">
            {{carreerDescription}}
        </p>
        <footer>
            <p class="font-italic">{{dateMonthYear initialDate}} - {{dateMonthYear finalDate}}</p>
        </footer>
    {{/each}}    
{{/if}}
