{{#if degrees}}
    {{#each degrees}}
        <strong>{{institutionName}}</strong>
        <blockquote>
            <p>
               {{carreerDescription}}
            </p>
            <footer class="text-italic">{{dateMonthYear initialDate}} - {{dateMonthYear finalDate}}</footer>
        </blockquote>
    {{/each}}    
{{/if}}
